body {
    font-family: 'Outfit', sans-serif;
    margin: 0 auto;
    background-color: #FAF9F6;
}

.container-fluid {
    display: flex;
}

.contents-header {
    text-align: center;
}

/* -------- images -------------*/
.landing-image {
    height: 100vh;
    background: url('../images/pexels-maria-orlova-4969842.jpg') no-repeat center center fixed;
    max-width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
}



/* -------Services------- */

#service-container {
    margin-top: 20px;
}

/* ------grid --------*/
.grid-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #9F5B56;
}

.grid-span {
    padding: 2rem;
    border-radius: 0.5rem;
}

.box {
    max-width: 100%;
    height: auto;
    background-color: #6C5E46;
    margin: 2%;
    padding-left: 250px;
    padding-right: 250px;
    padding-top: 10px;
    color: #FAF9F6;
    border-radius: 5px;
}

iframe {
    margin-top: 20px;
}



/* -----  media queries ------- */
@media (max-width: 500px) {
    .box h2 {
        text-align: center;
    }

    .box {
        background-color: #9F5B56;
    }

    .grid-container {
        max-width: 100%;
        background-color: #9F5B56;
    }

    .box table {
        text-align: center;
    }

    .flex-wrap iframe {
        display: none
    }

    .flex-wrap {
        padding: 0px;
    }
}

@media (max-width: 1200px) {
    .flex-wrap iframe {
        width: 700px;
        height: 200px;
        margin: auto;
    }
}


/* ----- footer ------- */

.footer-basic {
    padding: 20px;
    background-color: #FAF9F6;
    color: #4b4c4d;
}

.footer-basic .social {
    text-align: center;
    margin-bottom: 10px;

}


.footer-basic .social>a {
    font-size: 24px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #ccc;
    margin: 0 20px;
    color: inherit;
    opacity: 0.75;

}

.footer-basic .social>a:hover {
    opacity: 0.9;
}

.address {

    text-align: center;
}

/* ----- crew images ----- */
.media img {
    
    max-width: 250px;
    max-height: 250px;
    padding: 20px;
    border-radius: 50px;
}

.media {
    margin: 2%;
    max-width: 100%;
}

.barber-bio {
    padding: 40px;
}

.male-barber {
    background-color: #9F5B56;
    color: #FAF9F6;
    border-radius: 5px;
    max-width: 100%;
}

/* ---- portfolio photos */

#photos{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}



