body {
    font-family: "Outfit", sans-serif;
    margin: 0 auto;
    background-color: #faf9f6;
}

.sticky-navbar {
    position: fixed;
    z-index: 99;
    width: 100%;
}

.container-fluid {
    display: flex;
}

.contents-header {
    text-align: center;
}

.btn-primary {
    background-color: #9f5b56;
    border-color: #9f5b56;
}

.btn-primary:hover {
    background-color: #9f5b56;
    border-color: #9f5b56;
}

/* -------- images -------------*/
.landing-image {
    height: 100vh;
    background: url("../images/pexels-maria-orlova-4969842.jpg") no-repeat center center fixed;
    max-width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
}

.jumbotron-edit {
    border-radius: 10px;
    padding: 40px;
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
}

/* -------Services------- */

#service-container {
    margin-top: 20px;
}

/* ------grid --------*/
.grid-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #e6e0e0;
}

.grid-span {
    padding: 2rem;
    border-radius: 0.5rem;
}

.box {
    max-width: 100%;
    height: auto;

    margin: 2%;
    padding-left: 250px;
    padding-right: 250px;
    padding-top: 10px;

    border-radius: 5px;
}

iframe {
    margin-top: 20px;
    width: 300px;
    height: 400px;
}

/* -----  media queries ------- */
@media (max-width: 500px) {
    .box h2 {
        text-align: center;
    }

    .grid-container {
        max-width: 100%;
        background-color: #e6e0e0;
    }

    .box table {
        text-align: center;
    }

    .flex-wrap iframe {
        display: none;
    }

    .flex-wrap {
        padding: 0px;
    }

    .display-4 {
        font-size: 2.5rem;
    }

    .lead {
        display: none;
    }

    .nav-bar-brand {
        font-size: 15px;
    }

    section {
        display: flex;
        flex-wrap: wrap;

        justify-content: center;
    }

    section img {
        object-fit: contain;
        width: 100%;
        height: auto;
    }

    .sticky-navbar {
        width: 95%;
    }
}

@media (max-width: 1200px) {
    .flex-wrap iframe {
        width: 700px;
        height: 200px;
        margin: auto;
    }

    .display-4 {
        font-size: 2rem;
    }

    .media-btn {
        padding-right: 10px;
        padding-left: 10px;
        font-size: small;
    }
}

/* ----- footer ------- */

.footer-basic {
    padding: 20px;
    background-color: #faf9f6;
    color: #4b4c4d;
}

.footer-basic .social {
    text-align: center;
    margin-bottom: 10px;
}

.footer-basic .social>a {
    font-size: 24px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #ccc;
    margin: 0 20px;
    color: inherit;
    opacity: 0.75;
}

.footer-basic .social>a:hover {
    opacity: 0.9;
}

.contact-details {
    text-align: center;
}

/* ----- crew images ----- */
.box-mg {
    margin: auto;
}

.media img {
    display: inline-flex;
    max-width: 200px;
    margin-top: 30px;
    object-fit: contain;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.media {
    margin-top: 15px;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap
}

.barber-bio {
    padding: 30px;
    margin-top: 15px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    margin-top: 30px
}

.male-barber {
    background-color: #9f5b56;
    color: #faf9f6;
    border-radius: 5px;
    max-width: 100%;
}

/* ---- portfolio photos */

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

section img {
    object-fit: contain;
    width: 33%;
    height: 50%;
}